/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* ========= variables ========= */
/* ========= clearfix ========= */
.clearfix::after {
  clear: both;
  content: "";
  display: block; }

/* ========= common ========= */
body {
  font-size: 16px; }

.wrapper {
  width: 96%;
  padding: 0 2%; }

li {
  list-style: none; }

/* ========= individuals ========= */
header {
  height: 8vh;
  text-align: center;
  line-height: 8vh;
  border-bottom: 1px solid #000; }

.record {
  width: 90%;
  margin: 30px auto; }
  .record dt {
    width: 30%;
    float: left;
    margin-bottom: 10px; }
  .record dd {
    width: 60%;
    margin-left: 30%;
    margin-bottom: 10px; }
    .record dd input {
      width: 100%;
      background-color: #e1efff; }
    .record dd textarea {
      width: 100%;
      background-color: #e1efff; }

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px; }
  .btns .btn {
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #666;
    background-color: #fff;
    color: #0d7dfd;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .btns .btn:hover {
      background: #0d7dfd;
      color: #fff; }

.cards {
  width: 96%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .cards .card {
    width: 100%;
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 2px 2px #555;
    box-shadow: 2px 2px 2px 2px #555;
    /* box-shadow: 1px 1px 1px 1px #555; */
    /* box-shadow: 1px 1px 1px; */ }
    .cards .card .action_info {
      /* width: 90%; */
      height: 70px;
      margin: 0 auto;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 5px; }
      .cards .card .action_info .action {
        margin-bottom: 10px; }
      .cards .card .action_info .reminder {
        font-size: 0.75rem;
        text-align: right; }
    .cards .card .book_info {
      /* width: 90%; */
      height: 100px;
      margin: 0 auto;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      border: 1px solid #eee;
      border-radius: 10px;
      background: #ffe; }
      .cards .card .book_info .title {
        margin-bottom: 10px; }
      .cards .card .book_info .summary {
        font-size: 0.75rem; }

footer {
  height: 5vh;
  text-align: center;
  line-height: 5vh;
  border-top: 1px solid #000; }
